{% extends 'Template.html.twig' %}

{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="row">
        <div class="col-md-3">

            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                    <div class="widget-user-image">
                        <img class="img-circle" src="{{ asset('steedex_styles_ADMIN/dist/img/user-icon.png')}}" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">{{ app.user.nom }} {{ app.user.prenom }}</h3>
                    <h5 class="widget-user-desc">{{ app.user.roles | join(' ') }}</h5>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">

                        <li><a href="#">Mes Demandes <span class="pull-right badge bg-blue">31</span></a></li>
                        <li><a href="#">Mes Reclamations <span class="pull-right badge bg-aqua">5</span></a></li>
                        <li><a href="/profile">Mon Compte  <span class="pull-right badge bg-green">12</span></a></li>
                        <li><a href="/logout">Deconnexion <span class="pull-right badge bg-red">842</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box -->

            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">A propos</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">


                    <strong><i class="fa fa-envelope margin-r-5"></i> Mail</strong>

                    <p class="text-muted">{{ app.user.email }}</p>

                    <hr>

                    <strong><i class="fa fa-phone margin-r-5"></i> Tél</strong>

                    <p class="text-muted">{{ app.user.tel }}</p>


                    <hr>

                    <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                    <p class="text-muted">{{ app.user.addresse }}</p>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <center>

                <h2>Bienvenue chez nous</h2>

            </center>
            <div class="nav-tabs-custom">

                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
{% endblock %}