{% extends 'Template.html.twig' %}
    {% block title %}SteedEx - Tableau de bord{% endblock %}

{% block body %}
<section class="content">
<div class="row">
    <h1>


    </h1>
    <div id="result"></div>

    <script>
        // Check browser support
        if (typeof(Storage) !== "undefined") {
            // Store
            localStorage.setItem("list", "<h1>John<h1>");
            appendToStorage("list", "<h2>David<h2>");

            // Retrieve
          //  document.getElementById("result").innerHTML = localStorage.getItem("list");
        } else {
            document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
        }

        function appendToStorage(name, data){
            var old = localStorage.getItem(name);
            if(old === null) old = "";
            localStorage.setItem(name, old + data);
        }
    </script>

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>

                    {{ render(controller(
                    'AdminBundle:Default:enTraitement',
                    { 'max': 3 }
                    )) }}

                </h3>

                <p>En Traitement</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    {{ render(controller(
                    'AdminBundle:Default:enCours',
                    { 'max': 3 }
                    )) }}

                   </h3>

                <p>En Cours</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>

                    {{ render(controller(
                    'AdminBundle:Default:valide',
                    { 'max': 3 }
                    )) }}


                </h3>

                <p>Valide</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>

        </div>
    </div>


    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>
                    {{ render(controller(
                    'AdminBundle:Default:cloture',
                    { 'max': 3 }
                    )) }}
                </h3>

                <p>Cloture</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>

        </div>
    </div>


    <!-- ./col -->
</div>

<div class="row">
    <div class="col-md-8">
        <div class="box box-info">
            <div class="box-header with-border">

                <div id="div_chat_area"></div>

                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    {{ gc_draw(area, 'div_chat_area') }}
                </script>


            </div></div>
    </div>
    <div class="col-md-4">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Type / Demande</h3>

        <div id="div_chart"></div>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            {{ gc_draw(piechart, 'div_chart') }}
        </script>
    </div>
</div>
    </div></div>
    <div class="row">
        <!-- Left col -->
        <div class="col-md-8">
            <!-- MAP & BOX PANE -->

            <!-- /.box -->

            <!-- /.row -->

            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Les 10 derniers Demandes</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Demande ID</th>
                                <th>Titre</th>
                                <th>Etat</th>
                                <th>Livreur</th>
                            </tr>
                            </thead>
                            <tbody>




                            {% for d in listedemandes %}
                            <tr>
                                <td>{{ d.id }}</td>
                                <td>{{ d.titre }}</td>
                                <td>
                                    {% if (d.etat == "EnTraitement") %}
                                        <span class="label label-info">{{ d.etat }}</span>
                                    {% elseif (d.etat == "EnCours") %}
                                        <span class="label label-warning">{{ d.etat }}</span>
                                    {% elseif (d.etat == "Valide") %}
                                        <span class="label label-success">{{ d.etat }}</span>
                                    {% elseif (d.etat == "Cloture") %}
                                        <span class="label label-danger">{{ d.etat }}</span>
                                    {% else %}
                                        {{ d.etat }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if d.idLivreur == null %}
                                        null
                                        {% else %}
                                    {{ d.idLivreur.nom }}
                                            {% endif %}
                                </td>

                            </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a href="{{ path('_create_demande') }}" class="btn btn-sm btn-info btn-flat pull-left">Ajouter une demande</a>
                    <a href="{{ path('_list_demande') }}" class="btn btn-sm btn-default btn-flat pull-right">Liste Demandes</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-4">
            <!-- Info Boxes Style 2 -->

            <!-- /.info-box -->

            <!-- /.info-box -->

            <!-- /.info-box -->

            <!-- /.info-box -->


            <!-- /.box -->

            <!-- PRODUCT LIST -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Reclamations</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <ul class="products-list product-list-in-box">

                        <!-- /.item -->

                        <!-- /.item -->
    {% if listeRec is empty %}
      <li>Aucune demande </li>
    {% else %}

                        {% for r in listeRec %}
                        <li class="item">

                            <div class="product-info">
                                <a href="{{ path('_ouvrir_reclamation',{'id':r.id}) }}" class="product-title">
                                    {{ r.sujet }}
                                </a>
                                <span class="product-description">
                          {{ r.description }}
                        </span>
                            </div>
                        </li>
                            {% endfor %}
        {% endif %}
                        <!-- /.item -->
                    </ul>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    <a href="{{ path('_list_reclamation') }}" class="uppercase">Liste Reclamations</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
{% endblock %}