<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>

    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            font-size: 16px;
            line-height: 24px;
            color: black;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td{
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        /** RTL **/
        .rtl {
            direction: rtl;
        }

        .rtl table {
            text-align: right;
        }

        .rtl table tr td:nth-child(2) {
            text-align: left;
        }
        @page {
            @bottom-center { content: element(footer) }
        }

    </style>
</head>

<body>
<div class="partie1 partie2">
    <table border="0" cellpadding="5" cellspacing="0" style="  border: 1px solid black;
            border-collapse: collapse;" >
        <tr>
            <th width="300" style="padding: 10px;">
                <img style="width: 100px; height: 100px" src="D:\Programmes\wamp64\www\steedex-dev\steedex\web\images\logo.jpg" width="200" height="100">

            </th>
            <th width="300" style="padding: 10px;float: right !important;">


            </th>
        </tr>
    </table>

</div>

<div class="invoice-box">

    <div>



        
        <div class="partie1">
            <table border="1" cellpadding="5" cellspacing="0" style="  border: 1px solid black;
            border-collapse: collapse;" >
                <tr style="padding: 7px;">
                    <th width="300" style="padding: 10px;">Sociéte : {{ client.nom }}</th>
                    <th width="300" s style="padding:10px;">N° de Bordereau: {{ demande.id }}</th>
                </tr>
            </table><br>
            <table border="0" style="border: 0px solid !important;  border: 1px solid black;
            border-collapse: collapse; " >
                <tr>
                    <td class="tdStyle" width="350"><span style=""><b>Identifiant fiscal</b> : 144857669</span></td>
                    <td class="tdStyle" width="300"><span style=""><b>Date de la facture</b> : {{ demande.dateEmission | date("d/m/Y") }}</span></td>
                </tr>
                <tr>
                    <td class="tdStyle" width="350"><span style=""><b>Adresse</b> : {{ client.addresse }}</span></td>
                    <td class="tdStyle" width="300"><span style=""><b>Date d’échéance</b> : {{ demande.dateRecepetion | date("d/m/Y") }}</span></td>
                </tr>
                <tr>
                    <td class="tdStyle" width="350"><span style=""><b>Téléphone</b> : {{ client.tel }}</span></td>
                    <td class="tdStyle" width="300"><span style=""><b>Livraison</b> : à domicile</span></td>
                </tr>
                <tr>
                    <td class="tdStyle" width="300"><span style=""><b>Adresse Mail</b> : {{ client.email }}</span></td>
                </tr>

            </table>
        </div><br>
        <div class="partie1 partie2">
            <table border="1" cellpadding="5" cellspacing="0" style="  border: 1px solid black;
            border-collapse: collapse;" >
                <tr>
                    <th width="300" style="padding: 10px;">Destinateur</th>
                    <th width="300" style="padding: 10px;">Service de livraison : Steedex</th>
                </tr>
            </table>

            <br>

            <table border="0" style="border: 0px solid !important;   border: 1px solid black;
            border-collapse: collapse;" >
                <tr>
                    <td class="tdStyle" width="350"><span style=""><b>Nom du client :</b> : {{ demande.nomPrenomRecept }}</span></td>
                    <td class="tdStyle" width="300"><span style=""><b>Nom de l’agent</b> : {{ demande.idLivreur.nom }} {{ demande.idLivreur.prenom }}</span></td>
                </tr>
                <tr>
                    <td class="tdStyle" width="350"><span style=""><b>Téléphone</b> : {{ demande.telephoneRecept }}</span></td>
                    <td class="tdStyle" width="300"><span style=""><b>Téléphone</b> : {{ demande.idLivreur.tel }}</span></td>
                </tr>
                <tr>
                    <td class="tdStyle" width="350"><span style=""><b>Adresse</b> : {{ demande.addresseRecept }}</span></td>
                </tr>
                <tr>
                    <td class="tdStyle" width="300"><span style=""><b>Note</b> : {{ demande.note }}</span></td>
                </tr>
            </table><br>
            <br>


            <table border="1" cellpadding="5"  class="tdcol" style="  border: 1px solid black;
            border-collapse: collapse;" >
                <tr style="border-bottom: 1px solid black !important;">
                    <th width="300" style="padding: 10px;">Nombre de colis</th>
                    <th width="300" style="padding: 10px;">Montant Net à payer en TTC</th>
                </tr>
                <tbody>
                <tr >
                    <td width="350" style="padding: 10px !important;border: 0px solid red !important;"><span>1 Colis</span></td>
                    <td width="300" style="padding: 10px !important;border: 0px solid red !important;">
                        <span style="float:left;">{{ demande.titre }}</span>
                    </td>
                </tr>





                <tr >
                    <td width="350" style="padding: 10px !important;border: 0px solid red !important;"><span></span></td>
                    <td width="300" style="padding: 10px !important;border: 0px solid red !important;">
                        <span style="float:left;">Total : {{ demande.montant }} TND</span>
                    </td>
                </tr>





                </tbody>
            </table>
<br>
            <br>
            <div class="partie1 partie2">
                <table border="0" cellpadding="5" cellspacing="0" style="  border: 1px solid black;
            border-collapse: collapse;" >
                    <tr>
                        <th width="300" style="padding: 10px;">Signature & Cachet du vendeur</th>
                        <th width="300" style="padding: 10px;">Signature & Cachet de livreur</th>
                    </tr>
                </table>


        </div>
        </div>
    </div>
    <br>


</div>
</body>
</html>