<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from uicookies.com/demo/theme/transportation/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 18 Jun 2019 13:08:19 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bienvenue Steedex</title>
<style>
    a.navbar-brand img {
        width: 103px;
        height: 80px;
        margin-bottom: -5px !important;
        /* display: table-column; */
        margin-top: -27px;
    }
</style>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic" rel='stylesheet' type='text/css'>

    <link href="{{ asset('Front/transportation/css/bootstrap.min.css') }} " rel="stylesheet">

    <link href="{{ asset('Front/transportation/fonts/flaticon/flaticon.css') }} " rel="stylesheet">

    <link href="{{ asset('Front/transportation/css/font-awesome.min.css') }} " rel="stylesheet">

    <link href="{{ asset('Front/transportation/css/hippo-off-canvas.css') }} " rel="stylesheet">

    <link href="{{ asset('Front/transportation/css/animate.css') }} " rel="stylesheet">

    <link href="{{ asset('Front/transportation/css/language-select.css') }} " rel="stylesheet">

    <link href="{{ asset('Front/transportation/owl.carousel/assets/owl.carousel.css') }} " rel="stylesheet">

    <link href="{{ asset('Front/transportation/css/magnific-popup.css') }} " rel="stylesheet">

    <link href="{{ asset('Front/transportation/css/menu.css') }} " rel="stylesheet">

    <link href="{{ asset('Front/transportation/css/template.css') }} " rel="stylesheet">

    <link href="{{ asset('Front/transportation/css/style.css') }} " rel="stylesheet">

    <link href="{{ asset('Front/transportation/css/responsive.css') }} " rel="stylesheet">
    <script src="{{ asset('Front/transportation/js/vendor/modernizr-2.8.1.min.js') }}" type="48f882d78e589c2f5a207e4d-text/javascript"></script>

<style>

    .owl-carousel .owl-item img {
        transform-style: preserve-3d;
        /* width: 89px; */
        height: 114px;
    }

</style>
    <!--[if lt IE 9]>
    <script src="{{ asset('Front/transportation/js/vendor/html5shim.js') }}"></script>
    <script src="{{ asset('Front/transportation/js/vendor/respond.min.js') }}"></script>
    <![endif]-->
</head>
<body id="page-top">
<div id="st-container" class="st-container">
    <div class="st-pusher">
        <div class="st-content">
            <header class="header">
                <nav class="top-bar">
                    <div class="overlay-bg">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <div class="call-to-action">
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-marker"></i> 8  rue Koweït Tunis 1002 </a></li>
                                            <li><a href="#"><i class="fa fa-phone"></i> (+216) 55870049  </a></li>
                                            <li><a href="#"><i class="fa fa-phone"></i> (+216) 24268919  </a></li>


                                            <li><a href="#"><i class="fa fa-envelope"></i> <span class="__cf_email__" data-cfemail="4223262f2b2c02262d2f232b2c6c212d2f">contact@steedex.tn</span></a></li>
                                            <li><a href="#"><i class="fa fa-time"></i> Lun- Sam: 9:00 - 18:00 </a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4 hidden-xs">
                                    <div class="topbar-right">

                                        <ul class="social-links list-inline pull-right">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

                <nav class="navbar navbar-default" role="navigation">
                    <div class="container mainnav">
                        <div class="navbar-header">
                            <h1 class="logo"><a class="navbar-brand" href="/"><img src="{{ asset('images/logo.jpg') }}" alt=""></a></h1>

                            <button type="button" class="navbar-toggle collapsed pull-right">
                                <span class="sr-only">Toggle navigation</span>
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">

                                <li class="dropdown active"><a href="index-2.html">Acceuil </a>


                                </li>





                                <li class="dropdown"><a href="#nosservices">Nos service</a>



                                </li>




                                <li class="dropdown"><a href="#nospartenaires">Partenaires </a>



                                </li>
                                <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div id="main-carousel" class="carousel slide hero-slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#main-carousel" data-slide-to="1"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="{{ asset('Front/transportation/img/slider/slide-1.jpg') }}" alt="Hero Slide">

                        <div class="container">
                            <div class="carousel-caption">
                                <h1 class="animated lightSpeedIn">Rendre le transport rapide et sûr</h1>

                                <small class="animated fadeIn">Appelez nous</small>
                                <div class="phone animated lightSpeedIn">(+216) 55870049</div>

                            </div>

                        </div>

                    </div>

                    <div class="item">
                        <img src="{{ asset('Front/transportation/img/slider/slide-2.jpg') }}" alt="Hero Slide">

                        <div class="container">
                            <div class="carousel-caption">
                                <h1 class="animated bounceIn">Nous apprécions votre temps et votre argent</h1>

                            </div>

                        </div>

                    </div>

                </div>


                <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Précedent</span>
                </a>
                <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>


            <section class="service-home section-padding" id="nosservices">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="section-title">Nos services 24h / 24</h2>
                        </div>
                    </div>
                    <div class="row content-row">
                        <div class="col-sm-4">
                            <div class="service">
                                <div class="service-thumb-home">
                                    <a href="#"><img src="{{ asset('Front/transportation/img/trans.jpg') }}" alt=""></a>
                                </div>
                                <h3>Transport & Logistique</h3>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="service">
                                <div class="service-thumb-home">
                                    <a href="#"><img src="{{ asset('Front/transportation/img/moving.jpg') }}" alt=""></a>
                                </div>
                                <h3>Déplacement & Espace de rangement</h3>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="service">
                                <div class="service-thumb-home">
                                    <a href="#"><img src="{{ asset('Front/transportation/img/shipping.jpg') }}" alt=""></a>
                                </div>
                                <h3>Opérations d'expédition</h3>

                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="feature-section section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 col-xs-12">
                            <h2><b>STEEDEX</b> est une société 100% Tunisienne</h2>

                            <p>Spécialisée dans le domaine  de coursier,  transport et livraisons de colis.</p>

                            <p>Dès la collecte de vos colis, nous vous garantissons la livraison de porte en porte le jour même, le jour suivant ou bien dans une durée de 48 heures au maximum  selon l’urgence.</p>

                            <p>Nous vous offrons une solution informatique pour livrer en un temps record votre colis
                                et faciliter la gestion de vos expéditions. Quelle que soit la fréquence de vos envois
                                ou leurs destinations, vous serez toujours capable d'ajouter des courses, voir leurs statuts,
                                consulter l’avancement et recevoir des notifications en temps réel.</p>
                            <p><b>Votre satisfaction est notre priorité  pour grandir.</b></p>



                        </div>
                    </div>
                </div>
            </section>


            <section class="why-us-setion section-padding">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-xs-12">
                            <h2 class="section-title">Pourquoi nous choisir</h2>
                            <span class="section-sub">Rapidite<br> Ponctualité <br> Confiance</span>
                        </div>
                    </div>
                    <div class="row content-row">
                        <div class="col-md-12">
                            <div class="css-tab" role="tabpanel">

                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#secure" aria-controls="secure" role="tab" data-toggle="tab"><i class="flaticon-logistics15"></i> Garantie</a></li>
                                    <li role="presentation"><a href="#trackable" aria-controls="trackable" role="tab" data-toggle="tab"><i class="flaticon-logistics18"></i> Traçable</a></li>
                                    <li role="presentation"><a href="#fast" aria-controls="fast" role="tab" data-toggle="tab"><i class="flaticon-logistics16"></i> Rapide</a></li>
                                    <li role="presentation"><a href="#reliable" aria-controls="reliable" role="tab" data-toggle="tab"><i class="flaticon-broken43"></i> Fiable</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active fade in" id="secure">
                                        <div class="css-tab-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <img src="{{ asset('Front/transportation/img/secure.png') }}" alt="">
                                                </div>
                                                <div class="col-md-6 content-text">
                                                    <h3>Service Coursier</h3>

                                                    <p>
                                                        Steedex vous propose un service  « coursier »  qui assure tous vos courses de vos fournitures  dans les grands surfaces, les librairies ou autres
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="trackable">
                                        <div class="css-tab-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <img src="{{ asset('Front/transportation/img/track.png') }}" alt="">
                                                </div>
                                                <div class="col-md-6 content-text">
                                                    <h3>Steedex TRANSPO</h3>

<p>
    spécialisée dans le transport de marchandise, la distribution des colis et des plis, la livraison instantanée de vos produits dans les  plus brefs délais et
    dans des conditions de sécurité optimales avec paiement dans les 24h et 48 grand max une fois que les colis sont livrés
</p>                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="fast">
                                        <div class="css-tab-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <img src="{{ asset('Front/transportation/img/fast.png') }}" alt="">
                                                </div>
                                                <div class="col-md-6 content-text">
                                                    <h3>Faire gagner de l’argent et du temps</h3>
                                                    <p>

                                                         De telle
                                                        sorte que vous pourriez consacrer pleinement à votre activité principale sans même que vous vous déplacer.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="reliable">
                                        <div class="css-tab-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <img src="{{ asset('Front/transportation/img/reliable.png') }}" alt="">
                                                </div>
                                                <div class="col-md-6 content-text">
                                                    <h3>Solution inter-magasins</h3>

                                                    <p>
                                                         Votre entreprise se compose de plusieurs magasins…  Nous assurons la gestion du courrier entre vos magasins selon votre choix.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="testimonial-section section-padding">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="section-title">Qui nous font confiance</h2>
                        </div>
                    </div>
                    <div class="row row-content">
                        <div class="col-md-12">
                            <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">

                                <ol class="carousel-indicators">
                                    <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#testimonial-carousel" data-slide-to="1"></li>
                                    <li data-target="#testimonial-carousel" data-slide-to="2"></li>
                                </ol>

                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="testimonial-content">
                                            <p>Progressively architect prospective imperatives through competitive communities. Professionally productize user<br> friendly networks with out-of-the-box mindshare. Energistically incubate functionalized best practices after 24/365<br> information. Dramatically restore end-to-end strategic theme areas.</p>
                                            <span class="client-title">- Deanna Lewis -</span>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <p>Progressively architect prospective imperatives through competitive communities. Professionally productize user<br> friendly networks with out-of-the-box mindshare. Energistically incubate functionalized best practices after 24/365<br> information. Dramatically restore end-to-end strategic theme areas.</p>
                                            <span class="client-title">- Deanna Lewis -</span>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <p>Progressively architect prospective imperatives through competitive communities. Professionally productize user<br> friendly networks with out-of-the-box mindshare. Energistically incubate functionalized best practices after 24/365<br> information. Dramatically restore end-to-end strategic theme areas.</p>
                                            <span class="client-title">- Deanna Lewis -</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="partner-section" id="nospartenaires">
                        <div class="row row-content">
                            <div class="col-md-12">
                                <div class="owl-carousel partner-carousel">
                                    <div class="item">
                                        <a href="#"><img src="{{ asset('Front/public_images/Jumia.jpg') }}" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img src="{{ asset('Front/public_images/Tecnocasa.jpg') }}" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img src="{{ asset('Front/public_images/Mr Style.jpg') }}" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img src="{{ asset('Front/public_images/STAR-Assurances.jpg') }}" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img src="{{ asset('Front/public_images/Original bag.jpg') }}" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img src="{{ asset('Front/public_images/Zemni Store.jpg') }}" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img src="{{ asset('Front/public_images/UL.png') }}" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img src="{{ asset('Front/public_images/Star meuble.jpg') }}" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img src="{{ asset('Front/public_images/Monpara.jpg') }}" alt=""></a>
                                    </div>

                                    <div class="item">
                                        <a href="#"><img src="{{ asset('Front/public_images/le bazar online.jpg') }}" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img src="{{ asset('Front/public_images/Le sportif.jpg') }}" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img src="{{ asset('Front/public_images/Capital Immo.jpg') }}" alt=""></a>
                                    </div>

                                    <div class="item">
                                        <a href="#"><img src="{{ asset('Front/public_images/Chateau dax.png') }}" alt=""></a>
                                    </div>




                                </div>
                                <div class="partner-carousel-navigation">
                                    <a class="prev"><i class="fa fa-angle-left"></i></a>
                                    <a class="next"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="counter-section" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="counter-block">
                                <span class="count-description flaticon-boat"><strong class="timer">85</strong>Achat</span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="counter-block">
                                <span class="count-description flaticon-international"><strong class="timer">42</strong>Paiement</span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="counter-block">
                                <span class="count-description flaticon-compass"><strong class="timer">127</strong>Total</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="cta-section">
                <div class="container text-center">
                    <a data-toggle="modal" data-target="#quoteModal" href="#" class="btn btn-primary quote-btn">Contactez nous</a>

                    <div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h3 class="modal-title" id="quoteModalLabel">Contact Steedex</h3>
                                </div>
                                <div class="modal-body">
                                    <form id="contactForm5" action="{{ path('_getQuote') }}" method="GET">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="name">Nom & Prenom</label>
                                                    <input id="name" name="name" type="text" class="form-control" required="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="company">Nom de la societe</label>
                                                    <input id="company" name="company" type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phone">Tel</label>
                                                    <input id="phone" name="phone" type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="email">Email address</label>
                                                    <input id="email" name="email" type="email" class="form-control" required="" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="subject">Sujet</label>
                                                    <input id="subject" name="subject" type="text" class="form-control" required="" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group text-area">
                                            <label for="message"> Message</label>
                                            <textarea id="message" name="message" class="form-control" rows="6" required="" placeholder=""></textarea>
                                        </div>
                                        <input type="submit" class="btn btn-primary"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="footer-widget-section section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1 col-sm-4">
                            <div class="footer-widget">
                                <h3>Localisation </h3>
                                <address>
                                    8 rue Koweït Tunis 1002

                                    <button type="button" class="modal-map" data-toggle="modal" data-target="#cssMapModal">Map</button>
                                    <span class="tel">(+216) 55870049</span>
                                </address>

                                <div class="modal fade" id="cssMapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Notre Place</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div id="googleMap"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="footer-widget">
                                <h3>A PROPOS </h3>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,

                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="footer-widget">
                                <h3>Resté en contact</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <footer class="copyright-section">
                <div class="container text-center">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Confidentialité</a></li>
                            <li><a href="#">Termes et conditions</a></li>
                            <li><a href="#">Accessibilité</a></li>
                        </ul>
                    </div>
                    <div class="copyright-info">
                        <span>Copyright © 2019 . All Rights Reserved</span>
                    </div>
                </div>
            </footer>

        </div>
    </div>

    <div class="offcanvas-menu offcanvas-effect">
        <div class="offcanvas-wrap">
            <div class="off-canvas-header">
                <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas" id="off-canvas-close-btn">&times;</button>
            </div>
            <ul id="offcanvasMenu" class="list-unstyled visible-xs visible-sm">
                <li class="active"><a href="index-2.html">Home<span class="sr-only">(current)</span></a></li>

                <li>
                    <a href="#nosservices">Nos services</a>

                </li>

                <li><a href="{{ path('fos_user_security_login') }}">Contact</a></li>
                <li><a href="typography.html">Typography</a></li>
            </ul>
            <div class="offcanvas-widgets hidden-sm hidden-xs">
                <div id="twitterWidget">
                    <h2>Tweeter feed</h2>
                    <div class="twitter-widget"></div>
                </div>
                <div class="newsletter-widget">
                    <h2>Stay in Touch</h2>
                    <p>Enter your email address to receive news &amp; offers from us</p>
                    <form class="newsletter-form">
                        <div class="form-group">
                            <label class="sr-only" for="InputEmail1">Email address</label>
                            <input type="email" class="form-control" id="InputEmail2" placeholder="Your email address">
                            <button type="submit" class="btn">Send &nbsp;<i class="fa fa-angle-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>




<script src="https://maps.googleapis.com/maps/api/js" type="48f882d78e589c2f5a207e4d-text/javascript"></script>












<script src="{{ asset('Front/transportation/js/jquery.js') }}" type="48f882d78e589c2f5a207e4d-text/javascript"></script>

<script src="{{ asset('Front/transportation/js/bootstrap.min.js') }}" type="48f882d78e589c2f5a207e4d-text/javascript"></script>

<script src="{{ asset('Front/transportation/owl.carousel/owl.carousel.min.js') }}" type="48f882d78e589c2f5a207e4d-text/javascript"></script>

<script src="{{ asset('Front/transportation/js/jquery.magnific-popup.min.js') }}" type="48f882d78e589c2f5a207e4d-text/javascript"></script>

<script src="{{ asset('Front/transportation/js/hippo-offcanvas.js') }}" type="48f882d78e589c2f5a207e4d-text/javascript"></script>

<script src="{{ asset('Front/transportation/js/jquery.inview.min.js') }}" type="48f882d78e589c2f5a207e4d-text/javascript"></script>

<script src="{{ asset('Front/transportation/js/jquery.stellar.js') }}" type="48f882d78e589c2f5a207e4d-text/javascript"></script>

<script src="{{ asset('Front/transportation/js/jquery.countTo.js') }}" type="48f882d78e589c2f5a207e4d-text/javascript"></script>

<script src="{{ asset('Front/transportation/js/classie.js') }}" type="48f882d78e589c2f5a207e4d-text/javascript"></script>

<script src="{{ asset('Front/transportation/js/selectFx.js') }}" type="48f882d78e589c2f5a207e4d-text/javascript"></script>

<script src="{{ asset('Front/transportation/js/jquery.sticky-kit.min.js') }}" type="48f882d78e589c2f5a207e4d-text/javascript"></script>


<script src="{{ asset('Front/transportation/js/twitterFetcher_min.js') }}" type="48f882d78e589c2f5a207e4d-text/javascript"></script>

<script src="{{ asset('Front/transportation/js/scripts.js') }}" type="48f882d78e589c2f5a207e4d-text/javascript"></script>

<script src="{{ asset('Front/transportation/scripts/5c5dd728/cloudflare-static/email-decode.min.js') }}" data-cf-settings="48f882d78e589c2f5a207e4d-|49" defer=""></script></body>
<script src="{{ asset('Front/transportation/scripts/5c5dd728/cloudflare-static/rocket-loader.min.js') }}" data-cf-settings="48f882d78e589c2f5a207e4d-|49" defer=""></script></body>

<!-- Mirrored from uicookies.com/demo/theme/transportation/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 18 Jun 2019 13:08:44 GMT -->
</html>
