<link href="http://template67965.motopreview.com/mt-includes/css/assets.min.css" rel="stylesheet">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">


<link href="{{ asset('Front/steedex_template/mt-includes/css/assets.minf6d5.css') }}" rel="stylesheet">

<link href="{{ asset('Front/steedex_template/assets/css/styles.css') }}" id="moto-website-style" rel="stylesheet">


<link href="{{ asset('Front/steedex_template/assets/css/steedex_styles.css') }}" id="moto-website-style" rel="stylesheet">

<script type="text/javascript" src="{{ asset('Front/steedex_template/assets/js/steedex_scripts.js') }}"></script>
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" type="text/javascript"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>


<div class="moto-cell col-sm-12" data-container="container">
    <div class="moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="sm" data-spacing="aaaa" data-widget="row" style="">
        <div class="container-fluid">
            <div class="row" data-container="container">
                <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                    <div class="moto-widget moto-widget-row row-gutter-0 moto-justify-content_center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-bg-position="left top" data-grid-type="xs" data-spacing="sasa" data-widget="row" style="">
                        <div class="container-fluid">
                            <div class="row" data-container="container">
                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                    <div class="moto-widget moto-widget-image moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="image" data-widget-id="wid_1529047700_9u2e72a11">
                                        <a class="moto-widget-image-link moto-link" data-action="page" href="/"><img alt="" class="moto-widget-image-picture lazyloaded" data-id="157" data-src="./images/logo-steedex.png" title="" src="{{ asset('Front/steedex_template/images/logo-steedex.png') }}"></a>
                                    </div>
                                </div>
                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-small" data-animation="" data-preset="default" data-spacing="sass" data-widget="text">
                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                            <p class="moto-text_system_1"><a class="moto-link" data-action="page" data-id="1" href="/">Steedex<span class="moto-color1_3">.tn</span></a></p>
                                            <p class="moto-text_system_2"><a class="moto-link" data-action="page" data-id="1" href="/">Express</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="sasa" data-widget="row.column" style="">
                    <div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="sm" data-spacing="aaaa" data-widget="row" style="">
                        <div class="container-fluid">
                            <div class="row" data-container="container">
                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-7 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                    <div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="sm" data-spacing="aaaa" data-widget="row" style="">
                                        <div class="container-fluid">
                                            <div class="row" data-container="container">
                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-5 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="xs" data-spacing="aaaa" data-widget="row" style="">
                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-animation="" data-preset="default" data-spacing="aaaa" data-widget="text">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                                            <p class="moto-text_202" style="text-align: right;"><span class="fa"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small" data-animation="" data-preset="default" data-spacing="aaas" data-widget="text">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                                            <p class="moto-text_system_12">S. Commercial:</p>
                                                                            <p class="moto-text_system_10"><a class="moto-link" data-action="call" href="tel:0021624268919">(+216)  24268919</a></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-7 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="xs" data-spacing="aaaa" data-widget="row" style="">
                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-animation="" data-preset="default" data-spacing="aaaa" data-widget="text">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                                            <p class="moto-text_202" style="text-align: right;"><span class="fa"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small" data-animation="" data-preset="default" data-spacing="aaas" data-widget="text">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                                            <p class="moto-text_system_12">S. Coursier:</p>
                                                                            <p class="moto-text_system_10"><a class="moto-link" data-action="call" href="tel:0021655870049">(+216)  55870049</a></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-5 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                    <div class="moto-widget moto-widget-container moto-container_content_5b236b461" data-bg-position="left top" data-container="container" data-css-name="moto-container_content_5b236b461" data-widget="container">
                                        <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-grid-type="xs" data-spacing="aaaa" data-widget="row" style="">
                                            <div class="container-fluid">
                                                <div class="row" data-container="container">
                                                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-animation="" data-preset="default" data-spacing="aaaa" data-widget="text">
                                                            <div class="moto-widget-text-content moto-widget-text-editable">
                                                                <p class="moto-text_202" style="text-align: right;"><span class="fa"></span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-bg-position="left top" data-container="container" data-spacing="aaaa" data-widget="row.column" style="">
                                                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small" data-animation="" data-preset="default" data-spacing="aaas" data-widget="text">
                                                            <div class="moto-widget-text-content moto-widget-text-editable">
                                                                <p class="moto-text_system_12">Addresse:</p>
                                                                <p class="moto-text_system_10"> 8 rue Koweït Tunis 1002</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
