<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <title>Ordre de Mission</title>

    <style>
        table tr td {
            text-align: center !important;
        }
        table tr th {
            text-align: center !important;
        }

        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            font-size: 16px;
            line-height: 24px;
            color: black;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td{
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        /** RTL **/
        .rtl {
            direction: rtl;
        }

        .rtl table {
            text-align: right;
        }

        .rtl table tr td:nth-child(2) {
            text-align: left;
        }
        @page {
            @bottom-center { content: element(footer) }
        }

    </style>
</head>
<page orientation="landscape" format="A5" >

<body  onload="myFunction()">
<div class="partie1 partie2">
    <img style="width: 100px; height: 100px" src="http://cavitywallinsulation.co.uk/wp-content/uploads/2019/06/logo.jpg" width="200" height="100">

</div>

<div class="invoice-box">

    <div>




        <div class="partie1">
            <table  class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Agent.</th>
                    <th scope="col">Client</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Operation</th>

                </tr>

                </thead>
                <tbdody>
                    {% for l in listeD %}


                        <tr>
                            <td>{{ l.idLivreur.nom }} {{ l.idLivreur.prenom }} </td>
                            <td>{{ l.idClient.nom }} {{ l.idClient.prenom }} </td>
                            <td>{{ l.addresseRecept }}</td>
                            <td>

                                {% if(l.titre == NULL) %}
                                     {{ l.typeDC }}
                                {% else %}
                                  {{ l.type }}
                                {% endif %}

                                </td>

                        </tr>
                    {% endfor %}

                </tbdody>
            </table>
        </div><br>
        <div class="partie1 partie2">


            <br>


<br>
            <br>
            <div class="partie1 partie2">
                <table border="0" cellpadding="5" cellspacing="0" style="  border: 1px solid black;
            border-collapse: collapse;" >
                    <tr>
                        <th width="300" style="padding: 10px;">Signature & Cachet du vendeur</th>
                        <th width="300" style="padding: 10px;">Signature & Cachet de livreur</th>
                    </tr>
                </table>


        </div>
        </div>
    </div>
    <br>


</div>
</body>

     </page>


</html>