{% extends 'Template.html.twig' %}

{% block body %}
    {% block title %}Liste Utilisateurs{% endblock %}


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <ol class="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
        <li class="active">
            <a href="{{ path('_list_users') }}">
                Utilisateurs
            </a>
        </li>
        <li class="active">
            Liste utilisateur
        </li>
    </ol>
<br>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
<div class="form-group">


<label>Search..</label>
    <input class="form-control float-lg-right" id="myInput" type="text" placeholder="Search..">

</div>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Liste des utilisateurs</h3>
            <div class="box-tools">
                <a href="{{ path('_create_user') }}" type="button" class="btn btn-block btn-success btn-lg">Ajouter</a>
            </div><br>
        </div><br>




        <!-- /.box-header -->
        <div class="box-body no-padding">



            <table class="table table-striped table-condensed table-hover ">
                <tbody><tr>

                    <th>Nom & Prenom</th>
                    <th>Tél</th>
                    <th>Addresse</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>


                </tr>

                {% for c in users %}
                    <tr>
                        <td>{{ c.nom }} {{ c.prenom }}</td>
                        <td id="tel">{{ c.tel }}</td>
                        <td>{{ c.addresse }}</td>
                        <td>{{ c.email }}</td>
                        <td><a href="{{ path('_update_user',{'id':c.id}) }}">Modifier</a></td>
                        <td><a href="{{ path('_remove_user',{'id':c.id}) }}">Supprimer</a></td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.box-body -->
    </div>



    <a href="{{ path('_test_mail') }}">Test Email to belhadjali.seif@gmail.com</a>

    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("table tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        $(document).ready(function() {


            $('table').DataTable( {
                columnDefs: [ {
                    orderable: false,
                    className: 'select-checkbox',
                    targets:   0
                } ],
                select: {
                    style:    'os',
                    selector: 'td:first-child'
                },
                order: [[ 1, 'asc' ]]
            } );
        } );


    </script>

{% endblock  %}
