{% extends 'Template.html.twig' %}
{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
        <li class="active">
            <a href="{{ path('_list_users') }}">
                Utilisateurs
            </a>
        </li>
        <li class="active">
            Liste utilisateur
        </li>
    </ol>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Liste des utilisateurs</h3>
            <div class="box-tools">
                <a href="{{ path('_create_user') }}" type="button" class="btn btn-block btn-primary btn-lg">Ajouter</a>
            </div><br>
        </div><br>

        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-condensed">
                <tbody><tr>
                    <th>Username</th>
                    <th>PLAIN PASSWORD</th>
                    <th>Nom & Prenom</th>
                    <th>Tél</th>
                    <th>pass</th>
                    <th>Addresse</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Last Login</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>To User</th>
                    <th>To Admin</th>

                </tr>

                {% for c in users %}
                    <tr>
                        <td>{{ c.username }}</td>
                        <td>{{ c.plainPassword }}</td>
                        <td>{{ c.password }}</td>
                        <td>{{ c.nom }} {{ c.prenom }}</td>
                        <td>{{ c.tel }}</td>
                        <td>{{ c.password }}</td>
                        <td>{{ c.addresse }}</td>
                        <td>{{ c.email }}</td>
                        <td>{{ c.roles|join('  ') }}</td>
                        <td>{{ c.lastLogin | date }}</td>
                        <td><a href="{{ path('_update_user',{'id':c.id}) }}">editer</a></td>
                        <td><a href="{{ path('_remove_user',{'id':c.id}) }}">supprimer</a></td>
                        <td><a href="{{ path('_send_mail_to_user',{'id':c.id}) }}">envoyer </a></td>
                        <td><a href="{{ path('_send_mail_to_admin',{'id':c.id}) }}">envoyer</a></td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.box-body -->
    </div>

    <a href="{{ path('_test_mail') }}">test mail</a>
{% endblock  %}