{% extends 'Template.html.twig' %}
{% block body %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Liste des utilisateurs</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-condensed">
                <tbody><tr>
                    <th>Nom & Prenom</th>
                    <th>Tél</th>
                    <th>Addresse</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Last Login</th>


                </tr>

                {% for c in users %}
                    <tr>
                        <td>{{ c.nom }} {{ c.prenom }}</td>
                        <td>{{ c.tel }}</td>
                        <td>{{ c.addresse }}</td>
                        <td>{{ c.email }}</td>
                        <td>{{ c.password }}</td>
                        <td>{{ c.lastLogin | date }}</td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.box-body -->
    </div>

{% endblock  %}