{% extends 'Template.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <ol class="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
        <li class="active">
            <a href="{{ path('_list_users') }}">
                Utilisateurs
            </a>
        </li>
        <li class="active">
            Liste utilisateur
        </li>
    </ol>
    <br>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Liste des utilisateurs</h3>
            <div class="box-tools">
                <input class="form-control float-lg-right" id="myInput" type="text" placeholder="Search..">

            </div><br>

        </div><br>




        <!-- /.box-header -->
        <div class="box-body no-padding">



            <table class="table table-condensed">
                <tbody><tr>

                    <th>id</th>
                    <th>Nom & Prenom</th>
                    <th>Tél</th>
                    <th>suivre</th>



                </tr>

                {% for c in listeLivreur %}
                    <tr>
                        <td id="id">{{ c.id }}</td>

                        <td>{{ c.nom }} {{ c.prenom }}</td>
                        <td id="tel">{{ c.tel }}</td>
                        <td><a href="{{ path('_DemandeByLivreur',{'id':c.id}) }}">suivre</a></td>




                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.box-body -->
    </div>






    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("table tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        $(document).ready(function() {


            $( "#btnthis" ).click(function() {

                console.log(tmp);
                data = tmp;
                //alert(abcd);
                var $url = "{{ path('_generateOrdre', {'data': 'data'}) }}";


                $.ajax({
                    url : '{{ path("_generateOrdre") }}',
                    data:  { "data" : tmp },
                    type:       'GET',
                    dataType:   'html',
                    async:      true,
                    success : function (response) {
                        $("#modal-default .modal-body").html(response);

                    },



                });

            });



            var tmp = [];

            $("input[name='checkbox']").change(function() {
                var checked = $(this).val();
                if ($(this).is(':checked')) {
                    tmp.push(checked);
                    console.log("added");
                } else {
                    console.log("removed");

                    tmp.splice($.inArray(checked, tmp),1);
                }
            });


            $('table').DataTable( {
                columnDefs: [ {
                    orderable: false,
                    className: 'select-checkbox',
                    targets:   0
                } ],
                select: {
                    style:    'os',
                    selector: 'td:first-child'
                },
                order: [[ 1, 'asc' ]]
            } );
        } );


    </script>

{% endblock  %}
