{% extends 'Template.html.twig' %}
{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
        <li class="active">
            <a href="{{ path('_list_demande') }}">
                Demandes
            </a>
        </li>
        <li class="active">
            Affecter une Demande
        </li>
    </ol>

    <div class="col-md-6">
        <div class="box box-solid">

            <div class="box-body">
    {% for d in demande %}


                <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                    {{ d.titre }}
                </h4>
        <div class="progress progress-sm active">
            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                <span class="sr-only">20% Complete</span>
            </div>
        </div>
                <div class="media">
                    <div class="media-left">
                        <a href="https://dashboardpack.com/theme-details/kero-jquery-html-dashboard-pro&amp;utm_source=adminlte&amp;utm_medium=frontpage" class="ad-click-event">
                            <img src="{{ asset('images/colis.png') }}" width="150" class="img-circle" alt="Colis envoyéé">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="clearfix">
                            <span class="label label-success pull-right">

                                Frais de Livraison = {{ d.fraisLivraison }} TND
                            </span>

                            <h4 style="margin-top: 0">De :{{ d.idClient.nom }} {{ d.idClient.prenom }} </h4>
                            <h5>Quantite : {{ d.quantite }}</h5>
                            <h5>Fragile : {% if d.fragile ==true %} Oui {% else %}Non{% endif %}</h5>
                            <h5>Taille Colis : {{ d.tailleColis }}</h5>
                            <h4 style="margin-top: 0">Vers :{{ d.nomPrenomRecept }} </h4>
                            <h4>Montant : {{ d.montant }} TND</h4>
                            <p> Adresse : {{ d.addresseRecept }} </p>
                            <p> tel : {{ d.telephoneRecept }}</p>
                            <p style="margin-bottom: 0">
                                {% if (d.etat == "EnTraitement") and (d.idLivreur == null)  %}
                                    <span class="label label-info">En Traitement</span>
                                {% elseif (d.etat =="Encours") and (d.idLivreur != null) %}
                                    <span class="label label-warning">Encours</span>
                                {% else %}
                                    <span class="label label-success">Validé</span>

                                {% endif %}


                            </p>
                        </div>
                    </div>
                </div>
        {% endfor %}
            </div>
        </div>





    </div>
    <div class="col-md-6">




        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Liste des Livreurs</h3>
                <div class="box-tools">
                </div><br>
            </div><br>

            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-condensed">
                    <tbody><tr>
                        <th>ID</th>
                        <th>Nom & Prenom</th>
                        <th>Tél</th>
                        <th></th>


                    </tr>

                    {% for c in listusers_livreur %}
                        <tr>
                            <td>{{ c.id }}</td>

                            <td>{{ c.nom }} {{ c.prenom }}</td>
                            <td>{{ c.tel }}</td>
                            <td>
                            <td>

                                <a href="{{ path('confirm_demande', {'id_demande': id_demande,'id_livreur': c.id}) }}">Affecter</a>



                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>



    </div>

{% endblock  %}