{% extends 'Template.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
        <li class="active">
            <a href="{{ path('_list_demande') }}">
                Demandes
            </a>
        </li>
        <li class="active">
            Liste Demande
        </li>
    </ol>

    {% for message in app.flashes('success') %}
        <br> <div class="alert alert-success">

        {{ message }}
    </div>
    {% endfor %}

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Liste des demandes</h3>
            <div class="box-tools">
                <a href="{{ path('_create_demande') }}" type="button" class="btn btn-block btn-primary btn-lg">Créer une demande</a>
            </div>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">
                Effacer tout
            </button>
            <br>
        </div>






        <div class="modal modal-danger fade" id="modal-danger">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Vider Demandes</h4>
                    </div>
                    <div class="modal-body">
                        <p>Vous-étes sur ? </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Fermer</button>
                        <a class="btn btn-outline"  role="button" href="{{ path('_remove_all_demande') }}"> Effacer tout</a>

                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!-- /.box-header -->
        <div class="box-body no-padding" id="a5">
            <table class="table table-condensed">
                <tbody><tr>
                    <th></th>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Type</th>
                    <th>Emetteur</th>
                    <th>Destinataire</th>
                    <th>Addresse</th>
                    <th>Tel</th>
                    <th>Etat</th>
                    <th>Livreur</th>
                    <th>#Aff</th>
                    <th>#Mod</th>
                    <th>#Supp</th>
                    <th>#Conf</th>
                    <th>#Telecharger</th>
                    <th>#Imrpimer</th>

                </tr>

                {% if listDemandes is empty %}
                    <tr><th> Aucun demande enregistré</th></tr>
                {% else %}
                    {% for d in listDemandes %}
                        <tr class="{% if d.readDemande == false %} notRead {% endif %}">
                            <td><input name="checkbox" type="checkbox" id="{{ d.id }}" value="{{ d.id }}"/>    &nbsp;   </td>

                            <td>{{ d.id }}</td>
                            <td>{{ d.titre }}</td>
                            <td>{{ d.type }}</td>
                            <td>{{ d.idClient.nom }} {{ d.idClient.prenom }}</td>
                            <td>{{ d.nomPrenomRecept }}</td>
                            <td>{{ d.addresseRecept }} </td>
                            <td>{{ d.telephoneRecept }}</td>

                            <td>



                                {% if(d.etat == "EnTraitement") %}
                                    <span class="label label-info">En Traitement</span>
                                {% elseif (d.etat =="Encours") %}
                                    <span class="label label-warning">En Cours</span>
                                {% elseif (d.etat =="Valide") %}
                                    <span class="label label-success">Validé</span>
                                {% else %}
                                    {{ d.etat }}
                                {% endif %}









                            </td>

                            <td>

                                {% if d.idLivreur != null %}
                                    {{ d.idLivreur.nom }} {{ d.idLivreur.prenom }}
                                {% else %}
                                    -
                                {% endif %}


                            </td>

                            <td>
                                <a href="{{ path('_assign_demande',{'id_demande':d.id}) }}">Affecter</a>
                            </td>
                            <td><a href="{{ path('_update_demande',{'id':d.id}) }}">Modifier</a></td>
                            <td><a href="{{ path('_remove_demande',{'id':d.id}) }}">Supprimer</a></td>
                            <td>


                                {% if d.idLivreur != null and d.etat != "Encours" and d.etat != "EnTraitement" %}
                                    -
                                {% else %}
                                    <a href="{{ path('_valide_demande', {'id_demande': d.id}) }}"> Confirmer</a>

                                {% endif %}



                            </td>

                            <td>
                                <a href="{{ path('_generate_url', {'id_demande': d.id}) }}"> Telecharger</a>

                            </td>
                            <td>
                                <a href="{{ path('view_pdf', {'id_demande': d.id}) }}"> Imrpimer</a>

                            </td>

                        </tr>
                    {% endfor %}
                {% endif %}


                </tbody>

            </table>
        </div>
        <!-- /.box-body -->
    </div>

    <button type="button"  id="btnthis" class="btn btn-primary pull-left" >Generate Ordre de mission || Generate Manifest (LOADIIN)</button>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function(){
            var tmp = [];

            $("input[name='checkbox']").change(function() {
                var checked = $(this).val();
                if ($(this).is(':checked')) {
                    tmp.push(checked);
                } else {
                    tmp.splice($.inArray(checked, tmp),1);
                }
            });





            $( "#btnthis" ).click(function() {

                console.log(tmp);
                data = tmp;
                //alert(abcd);
                $.ajax({
                    url : '{{ path("testthis") }}',
                    data:  { "data" : tmp },
                    type:       'GET',
                    dataType:   'json',
                    async:      true,
                    success : function (response) {

                    }

                });

            });


        });



    </script>
{% endblock %}