{% extends "Template.html.twig" %}
{% block title %}Update Demande{% endblock %}

{% block body %}
    <style>
        input.form-control.input-group.a7 {
            height: 72px;
            background-color: #e4e4e4;
            font-size: 24px;
        }
        ul li {
            color: red !important;
        }

        .input-group7 {
            height: 68px;
        }

        input.form-control7 {
            height: 69px;
        }

        input.form-control.form-control7 {
            font-size: 23px !important;
            font-weight: 800;
            text-align: center;
        }


    </style>
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
        <li class="active">
            <a href="{{ path('_list_users') }}">
                Utilisateurs
            </a>
        </li>
        <li class="active">
            Mise à jour Demande
        </li>
    </ol>
    <div class="col-md-8">
        <div class="box box-warning">

            {{ form_start(form) }}
            <div class="box-header with-border">
                <h3 class="box-title">Modifier Demande </h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">

                <div class="form-group">
                    <label for="exampleInputEmail1">Titre</label>
                    {{ form_row(form.titre) }}
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Nom&Prenom</label>
                    {{ form_row(form.nom_prenom_recept) }}
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">lieu</label>
                    {{ form_row(form.lieu) }}
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Adresse</label>
                    {{ form_row(form.addresse_recept) }}
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Tel</label>
                    {{ form_row(form.telephone_recept) }}
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Montant</label>
                    {{ form_row(form.montant) }}
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Quantite</label>
                    {{ form_row(form.quantite) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.fragile) }}
                </div>


                <div class="form-group">
                    <label for="exampleInputEmail1">Taille du colis</label>
                    {{ form_row(form.tailleColis) }}
                </div>


                <div class="form-group">
                    <label for="exampleInputEmail1">Notes</label>
                    {{ form_row(form.note) }}
                </div>

            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="box box-success">
            <div class=" box-header">
                {{ form_errors(form) }}




                <h3>Personnaliser</h3>
            </div>
            <div class="box-body">

                <div class="form-group">
                    <label for="livraison">Frais de livraison</label>
                    <div class="input-group input-group7">
                        <span class="input-group-addon"><i class="fa fa-truck"></i></span>

                        <input type="text" class="form-control input-group a7" value="{{ fraiLiv }}" disabled>

                        <span class="input-group-addon">TND</span>

                    </div>
                </div>


                {% if (is_granted('ROLE_ADMIN') == true or is_granted('ROLE_LIVREUR')) %}



                    <div class="form-group">
                        <label for="exampleInputEmail1">Etat Demande</label>
                        {{ form_row(form.etat) }}
                    </div>
                {% endif %}



                <div class="form-group">
                    <label for="exampleInputEmail1">Type</label>
                    {{ form_row(form.type) }}
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Description du produit</label>
                    {{ form_row(form.descProd) }}
                </div>

                {% if is_granted('ROLE_ADMIN') == true %}

                <div class="form-group">
                    <label for="exampleInputEmail1">Date Emission</label>
                    {{ form_row(form.dateEmission) }}
                </div>
                {% endif %}



            </div>

        </div>

    </div>
    <input type="submit" class="btn btn-warning" value="Update">

    {{ form_end(form) }}

    </div>


{% endblock %}
